<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianqian.edu.course.management.mapper.EduCourseMapper">

    <select id="selectCoursePublishVoById" resultType="com.qianqian.edu.course.management.vo.CoursePublishVo">
    SELECT
		c.id,
		c.title,
        c.cover,
        c.lesson_num AS lessonNums,
        CONVERT(c.price, DECIMAL(8,2)) AS price,
		d.description,
        s1.title AS levelThree,
        s2.title AS levelTwo,
		s3.title AS levelOne,
        t.name AS teacherName
    FROM edu_course AS c
    INNER JOIN edu_course_description d ON c.id=d.id
    INNER JOIN edu_subject s1 ON c.subject_id=s1.id
    INNER JOIN edu_subject s2 ON c.subject_parent_id=s2.id
    INNER JOIN edu_subject s3 ON c.subject_grand_parent_id=s3.id
    INNER JOIN edu_teacher t ON c.teacher_id=t.id
    WHERE c.id=#{id}
  </select>

    <select id="selectInfoWebById" resultType="com.qianqian.edu.common.vo.CourseWebVo">
        SELECT
            c.id,
            c.title,
            c.cover,
            c.lesson_num AS lessonNums,
            c.buy_count,
            c.view_count,
            CONVERT(c.price, DECIMAL(8,2)) AS price,
            d.description,
            c.subject_id,
            c.subject_parent_id,
            c.subject_grand_parent_id,
            s1.title AS levelThree,
            s2.title AS levelTwo,
            s3.title AS levelOne,
            t.avatar,
            t.name AS teacherName,
            t.intro,t.career
        FROM edu_course AS c
                 INNER JOIN edu_course_description d ON c.id=d.id
                 INNER JOIN edu_subject s1 ON c.subject_id=s1.id
                 INNER JOIN edu_subject s2 ON c.subject_parent_id=s2.id
                 INNER JOIN edu_subject s3 ON c.subject_grand_parent_id=s3.id
                 INNER JOIN edu_teacher t ON c.teacher_id=t.id
        WHERE c.id=#{id}
    </select>
</mapper>
